
 <section class="container"> 
        <div class="row mt-3   p-2 d-flex justify-content-around text-center">
          <span class="col-2 fw-bold">Titulo</span>
          <span class="col-2  fw-bold">Descripcion</span>
          <span class="col-2  fw-bold">Precio Unitario $ </span>
          <span class="col-2 fw-bold ">Cantidad</span>
        </div>
        {{#each products}}
            <div class=" row mt-4 ">
              <div class="col-3 text-center"> 
                <td >{{title}}</td>
              </div>
              <div class="col-3 text-center"> 
                <td >{{description}}</td>
              </div>
              <div class="col-3 text-center"> 
                <td>{{price}}</td>
              </div>
              <div class="col-3 text-center"> 
                <td>{{quantity}}</td>
              </div>
           </div>
          
        {{/each}}       
        <div class="descripcion row mt-4 d-flex justify-content-between align-items-center ">
          <h5 class="col-4 text-center total p-2 m-0  " > Total ${{this.priceTotal}}</h5>
          <h5 class="col-4 text-center total p-2 m-0  " > Cantidad Total: {{quantityTotal}}</h5>
         </div>
            
                
        </section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>